# 07-01 : Basic Trino Query

Test using Trino without MLRun at this stage.

In [1]:
import trino
import pandas as pd
from contextlib import closing

## 1. Configuration

In [2]:
config = {
    "TRINO_HOST": "dragon.lan",
    "TRINO_PORT": "9191",
    "TRINO_USER": "johnny",
}

## 2. Establish the connection to Trino

In [3]:
conn = trino.dbapi.connect(
    host=config["TRINO_HOST"],
    port=config["TRINO_PORT"],
    user=config["TRINO_USER"],
    schema="lakehouse",
    catalog="iceberg",
)

## 3. Test Query Execution

### 3.1 Basic Query

In [4]:
query = "SELECT * FROM lakehouse.taxi_trips LIMIT 10"

In [5]:
# Execute the query and fetch the data into a pandas DataFrame
with closing(conn.cursor()) as cur:
    cur.execute(query)
    rows = cur.fetchall()
    columns = [desc[0] for desc in cur.description]
    df = pd.DataFrame(rows, columns=columns)

df.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,0fca59218b11688279d795c03c4d16f851f13fa0,e2c349c7cbb608d552aa0b5814031943f13641ef9e50d8...,2023-01-01 00:00:00,2023-01-01 00:15:00,1037,4.82,None,None,6.0,32.0,...,0.0,19.50,Credit Card,Taxicab Insurance Agency Llc,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)
1,1e539d6e7501164c6b76b761c3152c235e206d59,4ab7a7510c1ebcc9b2e3eaa7bdd6508dbea34da7986aca...,2023-01-01 00:00:00,2023-01-01 00:15:00,1341,16.63,None,None,76.0,8.0,...,6.0,53.00,Credit Card,Sun Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
2,79d2eff4b65d9bb126c12ded2f76c67f07c328ab,f6e15e1e93c7648c1ffb637834e78905aca64ba09e2f46...,2023-01-11 14:15:00,2023-01-11 14:30:00,1167,7.99,None,None,NaN,NaN,...,0.0,23.00,Cash,Flash Cab,NaN,NaN,None,NaN,NaN,None
3,79d3b3527ba03b3b487a220d3592fb3c92d78aaf,121e6b6064d993f2f1bc475ffd6392987c431f18e99c30...,2023-01-23 21:00:00,2023-01-23 21:15:00,240,0.70,None,None,NaN,NaN,...,0.0,7.25,Credit Card,Top Cab Affiliation,NaN,NaN,None,NaN,NaN,None
4,79f38d1640cc5636fca1aa533474879e5f5d8b95,92aa59b10af01f1beaa1a0ad435c030f2efc4107fbaeb0...,2023-01-08 15:15:00,2023-01-08 15:30:00,1171,14.55,None,None,NaN,NaN,...,25.5,75.60,Credit Card,City Service,NaN,NaN,None,NaN,NaN,None